*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

body{
    background-color: #2A7221;
}

.header{
    background-color:#119822;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.300;
}

.header .logo img:hover{
    transform: scale(1,2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.10);
}
.header .nav-links a{
    font-size: 700;
    color: #ffffff;
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: #ffffff;
}

.header .btn button{
    font-weight: 700;
    color: black;
    padding: 9px 25px;
    background: #ffffff;
    border: none;
    border-radius: 58px;
    cursor: pointer;
    transition: all .03s ease 0s;

}

.header .btn button:hover{
    background-color: antiquewhite;
    color: #2A7221;
    transform: scale(1.1);

}
main{
    text-align: center;
}

