*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body{
    background-color: #2A7221;
}

.header{
    background-color:#119822;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.300;
}

.header .logo img:hover{
    transform: scale(1,2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.10);
}
.header .nav-links a{
    font-size: 700;
    color: #ffffff;
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: #ffffff;
}

.header .btn button{
    font-weight: 700;
    color: black;
    padding: 9px 25px;
    background: #ffffff;
    border: none;
    border-radius: 58px;
    cursor: pointer;
    transition: all .03s ease 0s;

}

.header .btn button:hover{
    background-color: antiquewhite;
    color: #2A7221;
    transform: scale(1.1);

}

/* Información de contacto */
.info-contacto {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.info-contacto h2 {
    margin-top: 0;
    color: #4CAF50;
}

.info-contacto ul {
    list-style: none;
    padding: 0;
}

.info-contacto li {
    margin-bottom: 10px;
    font-size: 16px;
}

/* Formulario de contacto */
.formulario-contacto {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.formulario-contacto h2 {
    margin-top: 0;
    color: #4CAF50;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.contact-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #45a049;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
